---
import Launches from "../components/Launches.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home inicio de curso">
  <h1 class="p-4 mb-5">PAGINA PRINCIPAL</h1>
  <Launches />
</Layout>
